<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.UserPermissionMapper" >
  <resultMap id="BaseResultMap" type="entity.UserPermission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="permission_description" property="permissionDescription" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="extend1" property="extend1" jdbcType="VARCHAR" />
    <result column="extend2" property="extend2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, permission_name, permission_description, create_time, update_time, extend1, extend2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.UserPermission" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_permission (permission_name, permission_description, 
      create_time, update_time, extend1, 
      extend2)
    values ( #{permissionName,jdbcType=VARCHAR}, #{permissionDescription,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{extend1,jdbcType=VARCHAR}, 
      #{extend2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.UserPermission" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionName != null" >
        permission_name,
      </if>
      <if test="permissionDescription != null" >
        permission_description,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="extend1 != null" >
        extend1,
      </if>
      <if test="extend2 != null" >
        extend2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionName != null" >
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionDescription != null" >
        #{permissionDescription,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extend1 != null" >
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        #{extend2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.UserPermission" >
    update user_permission
    <set >
      <if test="permissionName != null" >
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionDescription != null" >
        permission_description = #{permissionDescription,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extend1 != null" >
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.UserPermission" >
    update user_permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_description = #{permissionDescription,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      extend1 = #{extend1,jdbcType=VARCHAR},
      extend2 = #{extend2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!-- 一下为自定义方法 -->
  <select id="listUserPermission" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from user_permission
  	<where>
  		<if test="userPermission.permissionName != null and !&quot;&quot;.equals(userPermission.permissionName.trim())">
  			and permission_name = #{userPermission.permissionName}
  		</if>
  		<if test="userPermission.permissionDescription != null and !&quot;&quot;.equals(userPermission.permissionDescription.trim())">
  			and state = #{userPermission.state}
  		</if>
  	</where>order by id limit #{page.dbIndex},#{page.dbNumber}
  	
  </select>
  
  <select id="selectByParams" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from user_permission
  	<where>
  		<if test="userPermission.permissionName != null and !&quot;&quot;.equals(userPermission.permissionName.trim())">
  			and permission_name = #{userPermission.permissionName}
  		</if>
  		<if test="userPermission.permissionDescription != null and !&quot;&quot;.equals(userPermission.permissionDescription.trim())">
  			and state = #{userPermission.state}
  		</if>
  	</where>
  </select>
  
  <select id="countUserPermission" resultType="int" parameterType="entity.UserRole">
  	select count(*) from user_permission
  	<where>
  		<if test="permissionName != null and !&quot;&quot;.equals(permissionName.trim())">
  			and permission_name = #{permissionName}
  		</if>
  		<if test="permissionDescription != null and !&quot;&quot;.equals(permissionDescription.trim())">
  			and state = #{state}
  		</if>
  	</where>
  </select>
  
   <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from user_permission
  </select>
</mapper>